*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: #d8d8d8 !important;
    position: relative;
}
input[type=number]::-webkit-inner-spin-button{ 
    -webkit-appearance: none;
}
input[type=number]{ 
    -moz-appearance: textfield;
    appearance: textfield;
    width: 100%;
}
.container{
    margin: 25px auto 25px auto !important;
}
.RowInp{
    border-bottom: 1px solid #555555;
}
div .row:nth-child(2){
    margin-top: 15px;
}
.buttonbtn{
    margin-top: 15px !important;
}
.TogCol .buttonbtn{
    margin: auto 5px;
}
.SubCol .buttonbtn{
    float: right;
}
@media (max-width: 767px){
    input[type=number]{ 
        margin-bottom: 10px;
    }
}
@media (min-width: 767px) and (max-width: 990px){
    .SCol{
        display: flex;
        align-items: center;
    }
}
#respostas-container{
    margin: 40px 0;
    text-align: center;
    width: 100%;
}
#Col-resp tr td:first-child{
    border-right: 2px solid black;
    text-align: end;
}
#Col-resp tr td{
    font-size: 1.5rem;
    padding: 0 4px;
    font-weight: 600;
}
#Col-resp{
    margin: 40px 0;
    -webkit-display: flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}